#credits {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: #B9C1DF55;
    font-size: 1.2rem;
    color: var(--text-main-color)
}

#credits a {
    align-items: center;
    text-decoration: underline;
    font-weight: 500;
}

#credits a:visited {
    color: var(--text-main-color)
}

#credits svg {
    height: 1.6rem;
    color: var(--text-main-color)
}