#table-container {
    position: relative;
    width: min(1000px, 100vw);

    overflow-x: auto;
}

main table {
    font-size: 1.4rem;
    text-align: left;
    width: 100%;
    margin: 0;
    border-collapse: collapse;
}


th,
td {
    padding: 1rem 0.8rem;
    font-style: normal;
    color: black;
}

td {
    font-weight: 400;
}

tbody tr:not(.extra-info):nth-of-type(odd) {
    background-color: rgba(211, 211, 211, 0.4);
}

tbody tr:not(.extra-info):hover {
    background-color: lightgrey;
}


th:nth-of-type(1),
td:nth-of-type(1) {
    width: 1rem;
    padding-left: 1rem;
    padding-right: 0rem;
}

th:nth-of-type(n+4),
td:nth-of-type(n+4) {
    text-align: center;
    min-width: 9rem;
}

th:nth-of-type(n+5),
td:nth-of-type(n+5) {
    box-sizing: border-box;
    width: 10rem;
}

th:nth-of-type(6),
td:nth-of-type(6) {
    padding-right: 2.6rem;
}

/* Apply only to first two columns */


th {
    z-index: 2;
    position: sticky;
    top: 0rem;
    background-color: var(--main-color);
    border-bottom: var(--shadow-light) 2px solid;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    th {
        z-index: inherit;
        position: relative;
        top: 0rem;
    }

}

th.sortable {
    cursor: pointer;
}

th>div {
    display: flex;
    justify-content: flex-start;
}

th:nth-of-type(4)>div {
    justify-content: center;
}

th p {
    margin: 0;
    padding: 0;
    position: relative;
}

th svg {
    position: absolute;
    top: 0;
    left: calc(100% + 0.2rem)
}

.icon-disp {
    height: 1.6rem;
}

.extra-info {
    height: 200px;
    box-shadow: inset 0 8px 13px -15px black,
        inset 0 -8px 13px -15px black;
    font-size: 1.3rem;
}

.extra-info>td>div {
    display: grid;
    grid-template: min-content 1fr / 200px 1fr;
    width: 100%;
}

.album-jacket {
    width: 100%;
    grid-row: 1 / 3;
}

.album-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: stretch;
    column-gap: 3rem;
    row-gap: 1rem;
    padding: 0 2rem;
}


.album-info>p {
    display: flex;
    gap: 0.5rem;
}

.general-info>a {
    text-decoration: underline;
}

.general-info>a:visited {
    color: black;
}


@media screen and (max-width: 660px) {
    .extra-info>td>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100vw;
    }

    .album-jacket {
        width: min(250px, 60vw);
        grid-row: 1 / 3;
        padding-right: 1rem;

    }

    .album-info {
        width: 90%;
        padding: 0;
        padding-right: 1rem;
    }
}